# coding: utf-8

"""
    Merged OpenAPI Specification

    Merged OpenAPI spec from multiple files  # noqa: E501

    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""

import re  # noqa: F401
import io
import warnings

from pydantic import validate_call, ValidationError, Field, StrictStr
from typing import overload, Optional, Union, Awaitable
from typing_extensions import Annotated

import finbourne.sdk.services.insights.models as packageModels
from datetime import datetime
from pydantic import Field, StrictInt, StrictStr, field_validator
from typing import Optional
from typing_extensions import Annotated
from finbourne.sdk.services.insights.models.access_evaluation_log import AccessEvaluationLog
from finbourne.sdk.services.insights.models.resource_list_with_histogram_of_access_evaluation_log import ResourceListWithHistogramOfAccessEvaluationLog
from finbourne.sdk.api_client import ApiClient
from finbourne.sdk.api_response import ApiResponse
from finbourne.sdk.extensions.api_client import SyncApiClient
from finbourne.sdk.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)
from finbourne.sdk.extensions.configuration_options import ConfigurationOptions

class AccessEvaluationsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client = None, sync_api_client = None) -> None:
        if sync_api_client is not None:
            self.sync_api_client = sync_api_client
        elif api_client is not None:
            self.api_client = api_client
        else:
            self.api_client = ApiClient.get_default()

    @validate_call
    def get_access_evaluation_log(self, id: StrictStr, **kwargs) -> AccessEvaluationLog:
        """[EARLY ACCESS] GetAccessEvaluationLog: Get the log for a specific access evaluation. This endpoint will be deprecated in the near future.  # noqa: E501

        :param id: The identifier of the access evaluation to obtain the log for. (required)
        :type id: str
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
        :rtype: AccessEvaluationLog
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_access_evaluation_log_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)

        return self.get_access_evaluation_log_with_http_info(id, **kwargs)  # noqa: E501

    @validate_call
    def get_access_evaluation_log_with_http_info(self, id: StrictStr, **kwargs) -> ApiResponse[AccessEvaluationLog]:
        """[EARLY ACCESS] GetAccessEvaluationLog: Get the log for a specific access evaluation. This endpoint will be deprecated in the near future.  # noqa: E501

        :param id: The identifier of the access evaluation to obtain the log for. (required)
        :type id: str
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
        :rtype: tuple(AccessEvaluationLog, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id'
        ]
        _all_params.extend(
            [
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_access_evaluation_log" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.sync_api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "AccessEvaluationLog",
            '400': "LusidValidationProblemDetails",
        }

        return self.sync_api_client.call_api(
            '/insights/api/access/{id}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'), model_klass=packageModels)

    @validate_call
    def list_access_evaluation_logs(self, start_at: Optional[datetime] = None, end_at: Optional[datetime] = None, filter: Optional[StrictStr] = None, sort_by: Optional[StrictStr] = None, limit: Optional[int] = None, page: Optional[StrictStr] = None, histogram_interval: Optional[StrictStr] = None, **kwargs) -> ResourceListWithHistogramOfAccessEvaluationLog:
        """[EARLY ACCESS] ListAccessEvaluationLogs: List the logs for access evaluations.  # noqa: E501

        :param start_at: Start date from which point to fetch logs.
        :type start_at: datetime
        :param end_at: End date to which point to fetch logs.
        :type end_at: datetime
        :param filter: Expression to filter the result set. Read more about [filtering results from LUSID](https://support.lusid.com/filtering-results-from-lusid).
        :type filter: str
        :param sort_by: Order the results by these fields. Use the '-' sign to denote descending order e.g. -MyFieldName. Multiple fields can be denoted by a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName
        :type sort_by: str
        :param limit: When paginating, only return this number of records. The minimum value is 0 and the maximum is 10000.
        :type limit: int
        :param page: Encoded page string returned from a previous search result that will retrieve the next page of data. When this field is supplied, filter and sortby fields should not be supplied.
        :type page: str
        :param histogram_interval: The interval for an included histogram of the logs
        :type histogram_interval: str
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
        :rtype: ResourceListWithHistogramOfAccessEvaluationLog
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the list_access_evaluation_logs_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)

        return self.list_access_evaluation_logs_with_http_info(start_at, end_at, filter, sort_by, limit, page, histogram_interval, **kwargs)  # noqa: E501

    @validate_call
    def list_access_evaluation_logs_with_http_info(self, start_at: Optional[datetime] = None, end_at: Optional[datetime] = None, filter: Optional[StrictStr] = None, sort_by: Optional[StrictStr] = None, limit: Optional[int] = None, page: Optional[StrictStr] = None, histogram_interval: Optional[StrictStr] = None, **kwargs) -> ApiResponse[ResourceListWithHistogramOfAccessEvaluationLog]:
        """[EARLY ACCESS] ListAccessEvaluationLogs: List the logs for access evaluations.  # noqa: E501

        :param start_at: Start date from which point to fetch logs.
        :type start_at: datetime
        :param end_at: End date to which point to fetch logs.
        :type end_at: datetime
        :param filter: Expression to filter the result set. Read more about [filtering results from LUSID](https://support.lusid.com/filtering-results-from-lusid).
        :type filter: str
        :param sort_by: Order the results by these fields. Use the '-' sign to denote descending order e.g. -MyFieldName. Multiple fields can be denoted by a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName
        :type sort_by: str
        :param limit: When paginating, only return this number of records. The minimum value is 0 and the maximum is 10000.
        :type limit: int
        :param page: Encoded page string returned from a previous search result that will retrieve the next page of data. When this field is supplied, filter and sortby fields should not be supplied.
        :type page: str
        :param histogram_interval: The interval for an included histogram of the logs
        :type histogram_interval: str
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
        :rtype: tuple(ResourceListWithHistogramOfAccessEvaluationLog, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'start_at',
            'end_at',
            'filter',
            'sort_by',
            'limit',
            'page',
            'histogram_interval'
        ]
        _all_params.extend(
            [
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_access_evaluation_logs" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('start_at') is not None:  # noqa: E501
            if isinstance(_params['start_at'], datetime):
                _query_params.append(('startAt', _params['start_at'].strftime(self.sync_api_client.configuration.datetime_format)))
            else:
                _query_params.append(('startAt', _params['start_at']))

        if _params.get('end_at') is not None:  # noqa: E501
            if isinstance(_params['end_at'], datetime):
                _query_params.append(('endAt', _params['end_at'].strftime(self.sync_api_client.configuration.datetime_format)))
            else:
                _query_params.append(('endAt', _params['end_at']))

        if _params.get('filter') is not None:  # noqa: E501
            _query_params.append(('filter', _params['filter']))

        if _params.get('sort_by') is not None:  # noqa: E501
            _query_params.append(('sortBy', _params['sort_by']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))

        if _params.get('histogram_interval') is not None:  # noqa: E501
            _query_params.append(('histogramInterval', _params['histogram_interval']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.sync_api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "ResourceListWithHistogramOfAccessEvaluationLog",
            '400': "LusidValidationProblemDetails",
        }

        return self.sync_api_client.call_api(
            '/insights/api/access', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'), model_klass=packageModels)


  # --- ASYNC API METHODS ---


    @validate_call
    async def get_access_evaluation_log_async(self, id: StrictStr, **kwargs) -> AccessEvaluationLog:
            """[EARLY ACCESS] GetAccessEvaluationLog: Get the log for a specific access evaluation. This endpoint will be deprecated in the near future.  # noqa: E501
            
            :param id: The identifier of the access evaluation to obtain the log for. (required)
            :type id: str
            :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
            :param opts: Configuration options for this request
            :type opts: ConfigurationOptions, optional
            :return: Returns an coroutine ApiResponse object.
            :rtype: AccessEvaluationLog
            """
            kwargs['_return_http_data_only'] = True
            if '_preload_content' in kwargs:
                message = "Error! Please call the get_access_evaluation_log_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
                raise ValueError(message)

            return await self.get_access_evaluation_log_with_http_info_async(id, **kwargs)  # noqa: E501

    @validate_call
    async def get_access_evaluation_log_with_http_info_async(self, id: StrictStr, **kwargs) -> ApiResponse[AccessEvaluationLog]:
            """[EARLY ACCESS] GetAccessEvaluationLog: Get the log for a specific access evaluation. This endpoint will be deprecated in the near future.  # noqa: E501


            :param id: The identifier of the access evaluation to obtain the log for. (required)
            :type id: str
            :param _preload_content: if False, the ApiResponse.data will
                                    be set to none and raw_data will store the
                                    HTTP response body without reading/decoding.
                                    Default is True.
            :type _preload_content: bool, optional
            :param _return_http_data_only: response data instead of ApiResponse
                                          object with status code, headers, etc
            :type _return_http_data_only: bool, optional
            :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
            :param opts: Configuration options for this request
            :type opts: ConfigurationOptions, optional
            :param _request_auth: set to override the auth_settings for an a single
                                  request; this effectively ignores the authentication
                                  in the spec for a single request.
            :type _request_auth: dict, optional
            :type _content_type: string, optional: force content-type for the request
            :return: Returns an coroutine ApiResponse object.
            :rtype: tuple(AccessEvaluationLog, status_code(int), headers(HTTPHeaderDict))
            """

            _params = locals()

            _all_params = [
                'id'
            ]
            _all_params.extend(
                [
                    '_return_http_data_only',
                    '_preload_content',
                    '_request_timeout',
                    '_request_auth',
                    '_content_type',
                    '_headers',
                    'opts'
                ]
            )

            # validate the arguments
            for _key, _val in _params['kwargs'].items():
                if _key not in _all_params:
                    raise ApiTypeError(
                        "Got an unexpected keyword argument '%s'"
                        " to method get_access_evaluation_log" % _key
                    )
                _params[_key] = _val
            del _params['kwargs']

            _collection_formats = {}

            # process the path parameters
            _path_params = {}
            if _params['id']:
                _path_params['id'] = _params['id']


            # process the query parameters
            _query_params = []
            # process the header parameters
            _header_params = dict(_params.get('_headers', {}))
            # process the form parameters
            _form_params = []
            _files = {}
            # process the body parameter
            _body_params = None
            # set the HTTP header `Accept`
            _header_params['Accept'] = self.api_client.select_header_accept(
                ['text/plain', 'application/json', 'text/json'])  # noqa: E501

            # authentication setting
            _auth_settings = ['oauth2']  # noqa: E501

            _response_types_map = {
                '200': "AccessEvaluationLog",
                '400': "LusidValidationProblemDetails",
            }

            return await self.api_client.call_api_async(
                '/insights/api/access/{id}', 'GET',
                _path_params,
                _query_params,
                _header_params,
                body=_body_params,
                post_params=_form_params,
                files=_files,
                response_types_map=_response_types_map,
                auth_settings=_auth_settings,
                _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
                _preload_content=_params.get('_preload_content', True),
                _request_timeout=_params.get('_request_timeout'),
                opts=_params.get('opts'),
                collection_formats=_collection_formats,
                _request_auth=_params.get('_request_auth'), model_klass=packageModels)

    @validate_call
    async def list_access_evaluation_logs_async(self, start_at: Optional[datetime] = None, end_at: Optional[datetime] = None, filter: Optional[StrictStr] = None, sort_by: Optional[StrictStr] = None, limit: Optional[int] = None, page: Optional[StrictStr] = None, histogram_interval: Optional[StrictStr] = None, **kwargs) -> ResourceListWithHistogramOfAccessEvaluationLog:
            """[EARLY ACCESS] ListAccessEvaluationLogs: List the logs for access evaluations.  # noqa: E501
            
            :param start_at: Start date from which point to fetch logs.
            :type start_at: datetime
            :param end_at: End date to which point to fetch logs.
            :type end_at: datetime
            :param filter: Expression to filter the result set. Read more about [filtering results from LUSID](https://support.lusid.com/filtering-results-from-lusid).
            :type filter: str
            :param sort_by: Order the results by these fields. Use the '-' sign to denote descending order e.g. -MyFieldName. Multiple fields can be denoted by a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName
            :type sort_by: str
            :param limit: When paginating, only return this number of records. The minimum value is 0 and the maximum is 10000.
            :type limit: int
            :param page: Encoded page string returned from a previous search result that will retrieve the next page of data. When this field is supplied, filter and sortby fields should not be supplied.
            :type page: str
            :param histogram_interval: The interval for an included histogram of the logs
            :type histogram_interval: str
            :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
            :param opts: Configuration options for this request
            :type opts: ConfigurationOptions, optional
            :return: Returns an coroutine ApiResponse object.
            :rtype: ResourceListWithHistogramOfAccessEvaluationLog
            """
            kwargs['_return_http_data_only'] = True
            if '_preload_content' in kwargs:
                message = "Error! Please call the list_access_evaluation_logs_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
                raise ValueError(message)

            return await self.list_access_evaluation_logs_with_http_info_async(start_at, end_at, filter, sort_by, limit, page, histogram_interval, **kwargs)  # noqa: E501

    @validate_call
    async def list_access_evaluation_logs_with_http_info_async(self, start_at: Optional[datetime] = None, end_at: Optional[datetime] = None, filter: Optional[StrictStr] = None, sort_by: Optional[StrictStr] = None, limit: Optional[int] = None, page: Optional[StrictStr] = None, histogram_interval: Optional[StrictStr] = None, **kwargs) -> ApiResponse[ResourceListWithHistogramOfAccessEvaluationLog]:
            """[EARLY ACCESS] ListAccessEvaluationLogs: List the logs for access evaluations.  # noqa: E501


            :param start_at: Start date from which point to fetch logs.
            :type start_at: datetime
            :param end_at: End date to which point to fetch logs.
            :type end_at: datetime
            :param filter: Expression to filter the result set. Read more about [filtering results from LUSID](https://support.lusid.com/filtering-results-from-lusid).
            :type filter: str
            :param sort_by: Order the results by these fields. Use the '-' sign to denote descending order e.g. -MyFieldName. Multiple fields can be denoted by a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName
            :type sort_by: str
            :param limit: When paginating, only return this number of records. The minimum value is 0 and the maximum is 10000.
            :type limit: int
            :param page: Encoded page string returned from a previous search result that will retrieve the next page of data. When this field is supplied, filter and sortby fields should not be supplied.
            :type page: str
            :param histogram_interval: The interval for an included histogram of the logs
            :type histogram_interval: str
            :param _preload_content: if False, the ApiResponse.data will
                                    be set to none and raw_data will store the
                                    HTTP response body without reading/decoding.
                                    Default is True.
            :type _preload_content: bool, optional
            :param _return_http_data_only: response data instead of ApiResponse
                                          object with status code, headers, etc
            :type _return_http_data_only: bool, optional
            :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
            :param opts: Configuration options for this request
            :type opts: ConfigurationOptions, optional
            :param _request_auth: set to override the auth_settings for an a single
                                  request; this effectively ignores the authentication
                                  in the spec for a single request.
            :type _request_auth: dict, optional
            :type _content_type: string, optional: force content-type for the request
            :return: Returns an coroutine ApiResponse object.
            :rtype: tuple(ResourceListWithHistogramOfAccessEvaluationLog, status_code(int), headers(HTTPHeaderDict))
            """

            _params = locals()

            _all_params = [
                'start_at',
                'end_at',
                'filter',
                'sort_by',
                'limit',
                'page',
                'histogram_interval'
            ]
            _all_params.extend(
                [
                    '_return_http_data_only',
                    '_preload_content',
                    '_request_timeout',
                    '_request_auth',
                    '_content_type',
                    '_headers',
                    'opts'
                ]
            )

            # validate the arguments
            for _key, _val in _params['kwargs'].items():
                if _key not in _all_params:
                    raise ApiTypeError(
                        "Got an unexpected keyword argument '%s'"
                        " to method list_access_evaluation_logs" % _key
                    )
                _params[_key] = _val
            del _params['kwargs']

            _collection_formats = {}

            # process the path parameters
            _path_params = {}

            # process the query parameters
            _query_params = []
            if _params.get('start_at') is not None:  # noqa: E501
                if isinstance(_params['start_at'], datetime):
                    _query_params.append(('startAt', _params['start_at'].strftime(self.api_client.configuration.datetime_format)))
                else:
                    _query_params.append(('startAt', _params['start_at']))

            if _params.get('end_at') is not None:  # noqa: E501
                if isinstance(_params['end_at'], datetime):
                    _query_params.append(('endAt', _params['end_at'].strftime(self.api_client.configuration.datetime_format)))
                else:
                    _query_params.append(('endAt', _params['end_at']))

            if _params.get('filter') is not None:  # noqa: E501
                _query_params.append(('filter', _params['filter']))

            if _params.get('sort_by') is not None:  # noqa: E501
                _query_params.append(('sortBy', _params['sort_by']))

            if _params.get('limit') is not None:  # noqa: E501
                _query_params.append(('limit', _params['limit']))

            if _params.get('page') is not None:  # noqa: E501
                _query_params.append(('page', _params['page']))

            if _params.get('histogram_interval') is not None:  # noqa: E501
                _query_params.append(('histogramInterval', _params['histogram_interval']))

            # process the header parameters
            _header_params = dict(_params.get('_headers', {}))
            # process the form parameters
            _form_params = []
            _files = {}
            # process the body parameter
            _body_params = None
            # set the HTTP header `Accept`
            _header_params['Accept'] = self.api_client.select_header_accept(
                ['text/plain', 'application/json', 'text/json'])  # noqa: E501

            # authentication setting
            _auth_settings = ['oauth2']  # noqa: E501

            _response_types_map = {
                '200': "ResourceListWithHistogramOfAccessEvaluationLog",
                '400': "LusidValidationProblemDetails",
            }

            return await self.api_client.call_api_async(
                '/insights/api/access', 'GET',
                _path_params,
                _query_params,
                _header_params,
                body=_body_params,
                post_params=_form_params,
                files=_files,
                response_types_map=_response_types_map,
                auth_settings=_auth_settings,
                _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
                _preload_content=_params.get('_preload_content', True),
                _request_timeout=_params.get('_request_timeout'),
                opts=_params.get('opts'),
                collection_formats=_collection_formats,
                _request_auth=_params.get('_request_auth'), model_klass=packageModels)



