# coding: utf-8

"""
    Merged OpenAPI Specification

    Merged OpenAPI spec from multiple files  # noqa: E501

    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""

import re  # noqa: F401
import io
import warnings

from pydantic import validate_call, ValidationError, Field, StrictStr
from typing import overload, Optional, Union, Awaitable
from typing_extensions import Annotated

import finbourne.sdk.services.lusid.models as packageModels
from pydantic import Field, field_validator
from typing_extensions import Annotated
from finbourne.sdk.services.lusid.models.create_simple_position_portfolio_request import CreateSimplePositionPortfolioRequest
from finbourne.sdk.services.lusid.models.portfolio import Portfolio
from finbourne.sdk.api_client import ApiClient
from finbourne.sdk.api_response import ApiResponse
from finbourne.sdk.extensions.api_client import SyncApiClient
from finbourne.sdk.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)
from finbourne.sdk.extensions.configuration_options import ConfigurationOptions

class SimplePositionPortfoliosApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client = None, sync_api_client = None) -> None:
        if sync_api_client is not None:
            self.sync_api_client = sync_api_client
        elif api_client is not None:
            self.api_client = api_client
        else:
            self.api_client = ApiClient.get_default()

    @validate_call
    def create_simple_position_portfolio(self, scope: StrictStr, create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest, **kwargs) -> Portfolio:
        """[EARLY ACCESS] CreateSimplePositionPortfolio: Create simple position portfolio  # noqa: E501

        Create a simple position portfolio in a particular scope.  # noqa: E501
        :param scope: The scope in which to create the simple position portfolio. (required)
        :type scope: str
        :param create_simple_position_portfolio_request: The definition of the simple position portfolio. (required)
        :type create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
        :rtype: Portfolio
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the create_simple_position_portfolio_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)

        return self.create_simple_position_portfolio_with_http_info(scope, create_simple_position_portfolio_request, **kwargs)  # noqa: E501

    @validate_call
    def create_simple_position_portfolio_with_http_info(self, scope: StrictStr, create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest, **kwargs) -> ApiResponse[Portfolio]:
        """[EARLY ACCESS] CreateSimplePositionPortfolio: Create simple position portfolio  # noqa: E501

        Create a simple position portfolio in a particular scope.  # noqa: E501
        :param scope: The scope in which to create the simple position portfolio. (required)
        :type scope: str
        :param create_simple_position_portfolio_request: The definition of the simple position portfolio. (required)
        :type create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
        :rtype: tuple(Portfolio, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'scope',
            'create_simple_position_portfolio_request'
        ]
        _all_params.extend(
            [
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_simple_position_portfolio" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['scope']:
            _path_params['scope'] = _params['scope']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['create_simple_position_portfolio_request'] is not None:
            _body_params = _params['create_simple_position_portfolio_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.sync_api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.sync_api_client.select_header_content_type(
                ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '201': "Portfolio",
            '400': "LusidValidationProblemDetails",
        }

        return self.sync_api_client.call_api(
            '/api/api/simpleposition/{scope}', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'), model_klass=packageModels)


  # --- ASYNC API METHODS ---


    @validate_call
    async def create_simple_position_portfolio_async(self, scope: StrictStr, create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest, **kwargs) -> Portfolio:
            """[EARLY ACCESS] CreateSimplePositionPortfolio: Create simple position portfolio  # noqa: E501
            Create a simple position portfolio in a particular scope.  # noqa: E501
            
            :param scope: The scope in which to create the simple position portfolio. (required)
            :type scope: str
            :param create_simple_position_portfolio_request: The definition of the simple position portfolio. (required)
            :type create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest
            :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
            :param opts: Configuration options for this request
            :type opts: ConfigurationOptions, optional
            :return: Returns an coroutine ApiResponse object.
            :rtype: Portfolio
            """
            kwargs['_return_http_data_only'] = True
            if '_preload_content' in kwargs:
                message = "Error! Please call the create_simple_position_portfolio_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
                raise ValueError(message)

            return await self.create_simple_position_portfolio_with_http_info_async(scope, create_simple_position_portfolio_request, **kwargs)  # noqa: E501

    @validate_call
    async def create_simple_position_portfolio_with_http_info_async(self, scope: StrictStr, create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest, **kwargs) -> ApiResponse[Portfolio]:
            """[EARLY ACCESS] CreateSimplePositionPortfolio: Create simple position portfolio  # noqa: E501

            Create a simple position portfolio in a particular scope.  # noqa: E501

            :param scope: The scope in which to create the simple position portfolio. (required)
            :type scope: str
            :param create_simple_position_portfolio_request: The definition of the simple position portfolio. (required)
            :type create_simple_position_portfolio_request: CreateSimplePositionPortfolioRequest
            :param _preload_content: if False, the ApiResponse.data will
                                    be set to none and raw_data will store the
                                    HTTP response body without reading/decoding.
                                    Default is True.
            :type _preload_content: bool, optional
            :param _return_http_data_only: response data instead of ApiResponse
                                          object with status code, headers, etc
            :type _return_http_data_only: bool, optional
            :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
            :param opts: Configuration options for this request
            :type opts: ConfigurationOptions, optional
            :param _request_auth: set to override the auth_settings for an a single
                                  request; this effectively ignores the authentication
                                  in the spec for a single request.
            :type _request_auth: dict, optional
            :type _content_type: string, optional: force content-type for the request
            :return: Returns an coroutine ApiResponse object.
            :rtype: tuple(Portfolio, status_code(int), headers(HTTPHeaderDict))
            """

            _params = locals()

            _all_params = [
                'scope',
                'create_simple_position_portfolio_request'
            ]
            _all_params.extend(
                [
                    '_return_http_data_only',
                    '_preload_content',
                    '_request_timeout',
                    '_request_auth',
                    '_content_type',
                    '_headers',
                    'opts'
                ]
            )

            # validate the arguments
            for _key, _val in _params['kwargs'].items():
                if _key not in _all_params:
                    raise ApiTypeError(
                        "Got an unexpected keyword argument '%s'"
                        " to method create_simple_position_portfolio" % _key
                    )
                _params[_key] = _val
            del _params['kwargs']

            _collection_formats = {}

            # process the path parameters
            _path_params = {}
            if _params['scope']:
                _path_params['scope'] = _params['scope']


            # process the query parameters
            _query_params = []
            # process the header parameters
            _header_params = dict(_params.get('_headers', {}))
            # process the form parameters
            _form_params = []
            _files = {}
            # process the body parameter
            _body_params = None
            if _params['create_simple_position_portfolio_request'] is not None:
                _body_params = _params['create_simple_position_portfolio_request']

            # set the HTTP header `Accept`
            _header_params['Accept'] = self.api_client.select_header_accept(
                ['text/plain', 'application/json', 'text/json'])  # noqa: E501

            # set the HTTP header `Content-Type`
            _content_types_list = _params.get('_content_type',
                self.api_client.select_header_content_type(
                    ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json']))
            if _content_types_list:
                    _header_params['Content-Type'] = _content_types_list

            # authentication setting
            _auth_settings = ['oauth2']  # noqa: E501

            _response_types_map = {
                '201': "Portfolio",
                '400': "LusidValidationProblemDetails",
            }

            return await self.api_client.call_api_async(
                '/api/api/simpleposition/{scope}', 'POST',
                _path_params,
                _query_params,
                _header_params,
                body=_body_params,
                post_params=_form_params,
                files=_files,
                response_types_map=_response_types_map,
                auth_settings=_auth_settings,
                _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
                _preload_content=_params.get('_preload_content', True),
                _request_timeout=_params.get('_request_timeout'),
                opts=_params.get('opts'),
                collection_formats=_collection_formats,
                _request_auth=_params.get('_request_auth'), model_klass=packageModels)



